{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"]
  ],
  "env": {
    "cover": {
      "plugins": ["istanbul"]
    }
  }
}
